.user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__image{
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
    }
    &__name{
        font-size: 17px;
    }
}